<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSizeServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetSizeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/AddServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSizeServlet</servlet-name>
        <url-pattern>/GetSizeServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewServlet</servlet-name>
        <url-pattern>/ViewServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <error-page>
        <exception-type>java.lang.NumberFormatException</exception-type>
        <location>/number_format_error.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>404</error-code>
        <location>/file_not_found.jsp</location>
    </error-page>
</web-app>
